<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kamel_Metter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections><startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
    <userSettings>
        <kamel_Metter.Properties.Settings>
			<setting name="a1" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="a2" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="a3" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="all" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="boo" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="connName" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="doh" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="new_int" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="proxy_saved" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="soundName" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="update_saved" serializeAs="String">
				<value>False</value>
			</setting>
		</kamel_Metter.Properties.Settings>
    </userSettings>
</configuration>